<div id="actionbar" class="span12">
   <div id="crumbs">
     <%=link_to "Home", '/' %>
     &nbsp;--&gt;&nbsp;
     <b>About</b>

   </div>
   <div id="controls">
   </div>
</div>

<div id="left_panel">
   <%=render 'layouts/left_panel'%>
</div>
<div id="right_panel">

<div id="right_scroll">
  <%= render 'flash' %>
  <div style="background-image: url('assets/hota-logo4.JPG'); background-size: cover;padding-bottom: 10px">
    <h1>About</h1>
  </div>

  <div class="erow"><div class="sectiontitle">
  QRP.NZ
  </div></div>
  <br/>
  <br/>
  <p> A home for all things QRP in New Zealand.</p>
<p>
This site hosts a message board for blogs, newsletters, notices and general chat about QRP and backcountry operation in New Zealeand</p>
</p>
Contact admin@qrp.nz with questions.
<br/>
<br/>
73s de ZL4NVW
</div>
<div class="erow">
<br/>
  <div class="sectiontitle">
    Privacy and Security
  </div>
</div>
<div class="erow">
<br/>
  <br/>
  This is a site dedicated to the sharing of information. With two exceptions, everything you submit to this site is published on the site and freely available for anyone to view: registered members, general unregistered internet users, and yes - bots and crawlers.  Do not submit information on this site if you are not happy for it to be publicly available.<br/>
<br>
  The two exceptions are:<br>
  1) Your password.<br>
  Passwords are encrypted in your browser before being sent across the internet. They are stored using one-way encryption in our database and are not available to anyone - even site administrators.  However, as with any site, you should not re-use a password you use to keep important information safe (e.g. internet banking)<br/>
<br>
  2) Your email address<br/>
  Your email address will only be used to send you emails of any topics to which you choose to subscribe, and for allowing you to reset your password. Your email address is encrypted before being sent across the internet. However once in our database if will be visible to administrators on this site.  Unregistered users or non-admin site members cannot see or access your email.  However, if you are concerned about having your email stored in our database and visible to site adminstrators then please do not enter it - it is an optional field and only used if you wish to receive emailed updates from the site.<br/>
</div>
<div class="erow">
  <br/>
  <div class="sectiontitle">
    Acknowledgements
  </div>
</div>
<br/>
<div class="erow">
<br/>
  <div>Includes icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Includes icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Thanks always to Daniel Azuma for <a href="https://daniel-azuma.com/articles/georails/">his work and tutorials on RGeo</a></div>
<div>And to Michael Hartl for his priceless (but no longer free) <a href="https://www.railstutorial.org/">guide to Ruby on Rails</a></div>
</div>
</div>

</script>
</div>
