<% if @user and @user.errors.any? then @item=@user end %>

<% if @item and @item.errors.any? %>
    <div id="error_explanation" class="erow">
      <div class="alert alert-error">
        The form contains <%= pluralize(@item.errors.count, "error") %>.
      </div>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<% if @uploadedfile and @uploadedfile.errors.any? %>
    <div id="error_explanation" class="erow">
      <div class="alert alert-error">
        The form contains <%= pluralize(@uploadedfile.errors.count, "error") %>.
      </div>
      <ul>
      <% @uploadedfile.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
